@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = "RequireAuthenticatedUser")]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <p>Hej logged ind bruger!</p>
    </Authorized>
    <NotAuthorized>
        <p>Hej ikke logged ind bruger</p>
    </NotAuthorized>
</AuthorizeView>